<section class="faq">
  <div class="wrap faq_wrap">
    <div class="faq__block">
      <form action="" class="faq__form">
        <h3 class="faq__form-title">Ответы на вопросы</h3>
        <p class="faq__form-description">Не нашли ответа? Напишите нам.</p>
        <button class="button button_type2" data-target="formRequest">
          Оставить заявку
        </button>
      </form>
      <div class="faq__right" data-faq="container">
        <h3 class="faq__form-title faq__form-title_tablet">
          Ответы на вопросы
        </h3>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Возможна&nbsp;ли интеграция корпоративных продуктовMail.ru с&nbsp;LDAP?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, возможна. Наши решения интегрируются с&nbsp;Active Directory, OpenLDAP, FreeIPA и&nbsp;другими
            LDAP-протоколами.
          </div>
        </div>

        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Можно&nbsp;ли установить пилотные решения на&nbsp;одну виртуальную машину?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, но&nbsp;мы&nbsp;рекомендуем выделить отдельную виртуальную машину под
            каждый продукт&nbsp;&mdash; Myteam, Почту, Teambox.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Есть&nbsp;ли интеграция с&nbsp;DLP и&nbsp;антивирусами?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, как и&nbsp;с&nbsp;прочими сторонними системами. Но&nbsp;при условии, что
            внешняя система имеет API.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Можно&nbsp;ли создавать ботов в&nbsp;мессенджере Myteam?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да. Инструкцию с&nbsp;примерами по&nbsp;созданию ботов можно найти здесь:
            myteam.mail.ru/botapi
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Как перенести письма из&nbsp;прежней системы после установки Почты
            Mail.ru?
          </div>
          <div class="faq__right-answer" data-click="close">
            Почта Mail.ru ставится параллельно с&nbsp;уже имеющейся почтовой
            системой. Письма будут храниться как на&nbsp;старом, так и&nbsp;на&nbsp;новом
            почтовых серверах, пока клиент полностью не&nbsp;перейдет на&nbsp;решение от
            Mail.ru.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Интегрируется&nbsp;ли Myteam cо&nbsp;сторонними ВКС-системами?
          </div>
          <div class="faq__right-answer" data-click="close">
            Мессенджер Myteam поддерживает интеграцию с&nbsp;ВКС и&nbsp;уже протестирован
            с&nbsp;некоторыми из&nbsp;отечественных решений.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close" data-click="btn"></div>
          <div class="faq__right-question">
            Можно&nbsp;ли подключить пользователей из&nbsp;нескольких доменов?
          </div>
          <div class="faq__right-answer" data-click="close">
            Мессенджер Myteam и&nbsp;Почта поддерживают мультидоменность. Пользователи из&nbsp;разных доменов смогут
            общаться
            между собой в
            Myteam, делиться календарями и&nbsp;видеть общие контакты в&nbsp;Почте.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>