<section class="faq">
  <div class="wrap faq_wrap">
    <div class="faq__block">
      <form action="" class="faq__form">
        <h3 class="faq__form-title">Ответы на вопросы</h3>
        <p class="faq__form-description">Не нашли ответа? Напишите нам.</p>
        <button class="button button_type2" data-target="formRequest">
          Оставить заявку
        </button>
      </form>
      <div class="faq__right" data-faq="container">
        <div class="faq__right-item">
          <div class="faq__open-close"></div>
          <div class="faq__right-question">
            Можно ли установить пилотные решения на одну виртуальную машину?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, но мы рекомендуем выделить отдельную виртуальную машину под
            каждый продукт — Myteam, Почту, Teambox.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close"></div>
          <div class="faq__right-question">
            Есть ли интеграция с DLP и антивирусами?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да, как и с прочими сторонними системами. Но при условии, что
            внешняя система имеет API.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close"></div>
          <div class="faq__right-question">
            Можно ли создавать ботов в мессенджере Myteam?
          </div>
          <div class="faq__right-answer" data-click="close">
            Да. Инструкцию с примерами по созданию ботов можно найти здесь:
            myteam.mail.ru/botapi
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close"></div>
          <div class="faq__right-question">
            Как перенести письма из прежней системы после установки Почты
            Mail.ru?
          </div>
          <div class="faq__right-answer" data-click="close">
            Почта Mail.ru ставится параллельно с уже имеющейся почтовой
            системой. Письма будут храниться как на старом, так и на новом
            почтовых серверах, пока клиент полностью не перейдет на решение от
            Mail.ru.
          </div>
        </div>
        <div class="faq__right-item">
          <div class="faq__open-close"></div>
          <div class="faq__right-question">
            Интегрируется ли Myteam cо сторонними ВКС-системами?
          </div>
          <div class="faq__right-answer" data-click="close">
            Мессенджер Myteam поддерживает интеграцию с ВКС и уже протестирован
            с некоторыми из отечественных решений.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
