<section class="features">
  <div class="wrap">
    <div class="features__list">
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-1.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Отказоустойчивость</h3>
        <p class="features__text">
          Чтобы ваши данные не&nbsp;потерялись даже в&nbsp;слачае аврии, храним их&nbsp;на&nbsp;двух независимых
          серверах и&nbsp;регулярно делаем бэкапы.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('icon-2.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Защита от простоев</h3>
        <p class="features__text">
          Не&nbsp;допустим простоя и&nbsp;быстро восстановим работу даже в&nbsp;случае крупного
          сбоя. Прописываем время реакции в&nbsp;договоре.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('icon-3.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Интеграция через API</h3>
        <p class="features__text">
          Наши продукты совместимы с&nbsp;1С, Active Directory, внутренними корпоративными
          порталами и&nbsp;внешними системами.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-4.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name features__name_column">Гибкое администрирование</h3>
        <p class="features__text">
          Распоряжайтесь правами доступа просматривайте журнал действий, контролируйте переписку
          сотрудников и&nbsp;даже восстанавли-вайте удалённые письма.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-5.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name features__name_column">Безопасность данных</h3>
        <p class="features__text">
          Учавствуем в&nbsp;программе Bug Bounty платим тем, кто сможет найти уязвимости
          в&nbsp;наших продуктах*, проходим аудит безопасности в&nbsp;компании Digital Security.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-6.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name features__name_column">Техподдержка любого уровня</h3>
        <p class="features__text">
          Решаем проблему в&nbsp;переписке в&nbsp;рабочее время, но&nbsp;если нужно ответим
          на&nbsp;звонок 24/7 даже в&nbsp;выходные и&nbsp;праздники.
        </p>
      </div>
    </div>

    <div class="features__list">
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-7.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Умное резервирование</h3>
        <p class="features__text">
          С&nbsp;помощью дудупликации сэкономим до&nbsp;40% дискового пространства на&nbsp;ваших
          серверах и&nbsp;сократим затраты.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-8.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Интеграция с DLP</h3>
        <p class="features__text">
          DLP-системы анализируют и&nbsp;защищают трафик от&nbsp;распростране-ния
          и&nbsp;утечки, чтобы ваши данные не&nbsp;попали к&nbsp;мошенникам.
        </p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('Icon-9.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Облачная версия</h3>
        <p class="features__text">
          По&nbsp;запросу все наши пролукты можно развернуть в&nbsp;безопасном частном облкае
          Mail.ru на российских серверах.
        </p>
      </div>
    </div>
  </div>
</section>