<section class="features">
  <div class="wrap">
    <div class="features__list">
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('ic-search.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Удобный поиск</h3>
        <p class="features__text">Находите сообщения и&nbsp;файлы в&nbsp;конкретной переписке, канале или среди всех чатов.</p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('ic-address-book.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Адресная книга</h3>
        <p class="features__text">Добавим коллег в&nbsp;Мессенджер, покажем должность, отдел и&nbsp;контакты каждого.</p>
      </div>
      <div class="features__item">
        <div class="features__icon"><img src="{{ static('ic-own-design.svg')}}" alt="" class="features__img" /></div>
        <h3 class="features__name">Ваш дизайн</h3>
        <p class="features__text">Оформим Мессенджер в&nbsp;фирменных цветах компании и&nbsp;добавим ваш логотип.</p>
      </div>
    </div>
  </div>
</section>
