<section class="info">
  <div class="wrap">
    <div class="info__wrap">
      <div class="info__content">
        <h3 class="info__title">Чат-боты спасут от&nbsp;рутины</h3>
        <p class="info__text">Используйте API для создания ботов, которые помогут автоматизировать монотонные процессы и&nbsp;задачи. Сформировать отчет для руководства, заказать справку у&nbsp;HR, вызвать курьера, оформить пропуск&nbsp;&mdash; чат-боты сделают&nbsp;то, что не&nbsp;любят делать сотрудники.</p>
        <a href="https://myteam.mail.ru/botapi/" target="_blank" class="info__link">Подробнее</a>
      </div>

      <picture class="info__picture">
        <source media="(max-width: 767px)" srcset="{{ static('info-375.png')}} 1x, {{ static('info-375@2x.png')}} 2x">
        <source media="(min-width: 768px) and (max-width: 1019px)" srcset="{{ static('info-768.png')}} 1x, {{ static('info-768@2x.png')}} 2x">
        <source media="(min-width: 1020px) and (max-width: 1359px)" srcset="{{ static('info-1020.png')}} 1x, {{ static('info-1020@2x.png')}} 2x">
        <img class="info__img" src="{{ static('info.png')}}" srcset="{{ static('info.png')}} 1x, {{ static('info@2x.png')}} 2x" alt="" />
      </picture>

    </div>
  </div>
</section>
