<div class="partners">
  <div class="partners__wrap owl-carousel" data-carousel="partners">
    <div class="partners__item">
      <div class="partners__text">
        Самое ценное, кроме всех фич, которые есть в расши-ренной версии почты
        для домена, — это поддержка клиентов, не только техни-ческая, но и
        по-настоящему дружеское отношение.
      </div>
      <div class="partners__name">Наталья Попова,</div>
      <div class="partners__description">
        Дирекция по управлению продажами и клиентских сервисов ООО «Т2 Мобайл»
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__text">
        Выбрали решение от Mail.ru, опираясь на их опыт и знания. Сервис
        оправдал все наши ожидания, а это в первую очередь надежность,
        стабильность и эффек-тивность работы нашей агентской сети.
      </div>
      <div class="partners__name">Владимир Гибенко,</div>
      <div class="partners__description">
        Руководитель департамента информационных технологий ПАО СК «РОСГОССТРАХ»
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__text">
        Нам было важно персонали-зировать интерфейс, быть неограниченными в
        объе-мах передаваемых данных и оперативно решать вопросы с технической
        поддержкой.
      </div>
      <div class="partners__name">Олег Груздев,</div>
      <div class="partners__description">
        Координатор ритейл-проектов ООО «Леви Штраус Москва»
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__text">
        Самое ценное, кроме всех фич, которые есть в расши-ренной версии почты
        для домена, — это поддержка клиентов, не только техни-ческая, но и
        по-настоящему дружеское отношение.
      </div>
      <div class="partners__name">Наталья Попова,</div>
      <div class="partners__description">
        Дирекция по управлению продажами и клиентских сервисов ООО «Т2 Мобайл»
      </div>
    </div>
  </div>
</div>
