<div class="partners">
  <div class="partners__wrap owl-carousel" data-carousel="partners">
    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_tele2"></i>
        </div>

        <div class="partners__text">
          Самое ценное, кроме всех фич, которые есть в&nbsp;расши-ренной версии почты
          для домена,&nbsp;&mdash; это поддержка клиентов, не&nbsp;только техни-ческая, но&nbsp;и
          по-настоящему дружеское отношение.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Наталья Попова,</div>
        <div class="partners__description">
          Дирекция по&nbsp;управлению продажами и&nbsp;клиентских сервисов <br> ООО &laquo;Т2&nbsp;Мобайл&raquo;
        </div>
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_rgs"></i>
        </div>

        <div class="partners__text">
          Выбрали решение от&nbsp;Mail.ru, опираясь на&nbsp;их&nbsp;опыт и&nbsp;знания. Сервис
          оправдал все наши ожидания, а&nbsp;это в&nbsp;первую очередь надежность,
          стабильность и&nbsp;эффек-тивность работы нашей агентской сети.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Владимир Гибенко,</div>
        <div class="partners__description">
          Руководитель департамента информационных технологий<br> ПАО СК
          &laquo;РОСГОССТРАХ&raquo;
        </div>
      </div>
    </div>

    <div class="partners__item">
      <div class="partners__block">
        <div class="partners__img-wrap">
          <i class="partners__img partners__img_levis"></i>
        </div>
        <div class="partners__text">
          Нам было важно персонали&shy;зировать интерфейс, быть неограниченными в
          объемах передаваемых данных и&nbsp;оперативно решать вопросы с&nbsp;технической
          поддержкой.
        </div>
      </div>
      <div class="partners__block">
        <div class="partners__name">Олег Груздев,</div>
        <div class="partners__description">
          Координатор ритейл-проектов <br> ООО &laquo;Леви Штраус Москва&raquo;
        </div>
      </div>
    </div>
  </div>
</div>