<section class="security">
  <div class="wrap">
    <div class="security__list">
      <dl class="security__item security__item_bg1">
        <dt class="security__name">Безопасность<br />данных</dt>
        <dd class="security__content">
          <p class="security__text">Облако совместимо с&nbsp;популярными антивирусами и&nbsp;средствами защиты. Мы&nbsp;регулярно проводим мониторинги по&nbsp;безопасности и&nbsp;платим тем, кто сможет найти уязвимости.</p>
          <a href="https://biz.mail.ru/onpremise/security" target="_blank" class="security__link">Подробнее</a>
        </dd>
      </dl>
      <dl class="security__item security__item_bg2">
        <dt class="security__name">Администрирование<br />и&nbsp;управление</dt>
        <dd class="security__content">
          <p class="security__text">Создавайте новых пользователей, назначайте им&nbsp;персонализированные права и&nbsp;блокируйте доступ уволившимся сотрудникам.</p>
          <a href="https://biz.mail.ru/onpremise/administration" target="_blank" class="security__link">Подробнее</a>
        </dd>
      </dl>
    </div>
    <div class="security__support">
      <p class="security__supporttext">Выберите уровень поддержки, который хотите получить</p>
      <p class="security__supportnote">Обычно мы&nbsp;решаем проблемы в&nbsp;переписке в&nbsp;рабочее время, но&nbsp;если нужно&nbsp;&mdash; сможем ответить на&nbsp;звонок в&nbsp;3&nbsp;часа ночи.</p>
    </div>
    <a href="https://biz.mail.ru/onpremise/support" class="button button_type2 security__button" target="_blank">Об&nbsp;уровнях поддержки</a>
  </div>
</section>
