<section class="services">
  <div class="wrap">
    <div class="services__list">
      <div class="services__item services__item_first">
        <picture class="services__picture">
          <source media="(max-width: 767px)" srcset="{{ static('services1-375.png')}} 1x, {{ static('services1-375@2x.png')}} 2x">
          <source media="(min-width: 768px) and (max-width: 1019px)" srcset="{{ static('services1.png')}} 1x, {{ static('services1@2x.png')}} 2x">
          <source media="(min-width: 1020px) and (max-width: 1359px)" srcset="{{ static('services1-1020.png')}} 1x, {{ static('services1-1020@2x.png')}} 2x">
          <img class="services__img services__img_message" src="{{ static('services1.png')}}" srcset="{{ static('services1.png')}} 1x, {{ static('services1@2x.png')}} 2x" alt="" />
        </picture>
        <div class="services__content">
          <h3 class="services__title">Мессенджер для работы</h3>
          <p class="services__text">
            Не&nbsp;смешивайте корпоративную и&nbsp;личную переписку в&nbsp;разных мессенджерах.
            <br />
            Выполняйте все рабочие задачи в&nbsp;Myteam&nbsp;&mdash; пересылайте документы, организовывайте созвоны, создавайте опросы в&nbsp;чатах или каналах. Переписка будет храниться внутри компании и&nbsp;синхронизироваться на&nbsp;всех устройствах.</p>
        </div>
      </div>
      <div class="services__item">
        <picture class="services__picture">
          <source media="(max-width: 767px)" srcset="{{ static('services2-375.png')}} 1x, {{ static('services2-375@2x.png')}} 2x">
          <source media="(min-width: 768px) and (max-width: 1019px)" srcset="{{ static('services2-768.png')}} 1x, {{ static('services2-768@2x.png')}} 2x">
          <source media="(min-width: 1020px) and (max-width: 1359px)" srcset="{{ static('services2-1020.png')}} 1x, {{ static('services2-1020@2x.png')}} 2x">
          <img class="services__img services__img_media" src="{{ static('services2.png')}}" srcset="{{ static('services2.png')}} 1x, {{ static('services2@2x.png')}} 2x" alt="" />
        </picture>
        <div class="services__content">
          <h3 class="services__title">Аудио- и&nbsp;видеозвонки</h3>
          <p class="services__text">
            Созванивайтесь и&nbsp;решайте вопросы оперативно. Включите демонстрацию экрана, когда нужно что-то показать.
            <br /><br />
            Если нужно собрать больше 30&nbsp;человек, попробуйте видеоконференцсвязь.
          </p>
        </div>
      </div>
      <div class="services__item">
        <picture class="services__picture">
          <source media="(max-width: 767px)" srcset="{{ static('services3-375.png')}} 1x, {{ static('services3-375@2x.png')}} 2x">
          <source media="(min-width: 768px) and (max-width: 1019px)" srcset="{{ static('services3-768.png')}} 1x, {{ static('services3-768@2x.png')}} 2x">
          <source media="(min-width: 1020px) and (max-width: 1359px)" srcset="{{ static('services3-1020.png')}} 1x, {{ static('services3-1020@2x.png')}} 2x">
          <img class="services__img services__img_notify" src="{{ static('services3.png')}}" srcset="{{ static('services3.png')}} 1x, {{ static('services3@2x.png')}} 2x" alt="" />
        </picture>
        <div class="services__content">
          <h3 class="services__title">Оповещения в&nbsp;каналах</h3>
          <p class="services__text">Создавайте каналы, которые будут информировать о&nbsp;новостях и&nbsp;мероприятиях компании. А&nbsp;еще они предупредят о&nbsp;состоянии инфраструктуры и&nbsp;ЧС&nbsp;&mdash; вы&nbsp;сразу узнаете, если что-то сломается или случится непредвиденная ситуация.</p>
        </div>
      </div>
    </div>
  </div>
</section>
