<section class="subscription">
  <div class="wrap">
    <h2 class="subscription__title">Подпишитесь на&nbsp;блог о&nbsp;технологиях для бизнеса</h2>
    <form class="subscription__box" data-form="subscription">
      <div class="subscription__text">Получайте полезные статьи первыми&nbsp;&mdash; раз в&nbsp;неделю и&nbsp;без спама</div>
      <div class="subscription__form">
        <div class="subscription__filedbox">
          <input type="text" name="email" placeholder="Введите e-mail" value="" class="subscription__filed" />
          <div class="subscription__message" hidden data-message></div>
        </div>
        <button type="submit" class="button button_type2 subscription__button">Подписаться</button>
      </div>
    </form>
  </div>
</section>
