<section class="yourserver">
  <div class="wrap">
    <h2 class="yourserver__title">Универсальный мессенджер для бизнеса на&nbsp;ваших серверах</h2>
    <button type="button" class="button button_type1" data-target="formRequest">Оставить заявку</button>
    <div class="yourserver__content">
      <dl class="yourserver__info">
        <dt class="yourserver__infoname">Технические требования</dt>
        <dd class="yourserver__infotext">
          <ul class="yourserver__tech">
            <li class="yourserver__techitem">1&nbsp;виртуальная машина на&nbsp;гипервизоре</li>
            <li class="yourserver__techitem">48&nbsp;GB RAM</li>
            <li class="yourserver__techitem">22&nbsp;vCPU</li>
            <li class="yourserver__techitem">300&nbsp;GB HDD</li>
          </ul>
          <ul class="yourserver__tag">
            <li class="yourserver__tagitem">Active Directory</li>
            <li class="yourserver__tagitem">OpenLDAP</li>
            <li class="yourserver__tagitem">FreeIPA</li>
          </ul>
        </dd>
        <dt class="yourserver__infoname">Операционная система</dt>
        <dd class="yourserver__infotext">
          <ul class="yourserver__tag">
            <li class="yourserver__tagitem">РЕД&nbsp;ОС</li>
            <li class="yourserver__tagitem">ROSA</li>
            <li class="yourserver__tagitem">CentOS&nbsp;7</li>
          </ul>
        </dd>
      </dl>
      <dl class="yourserver__benefit">
        <dt class="yourserver__benefitname">Для любых устройств</dt>
        <dd class="yourserver__benefittext">Работайте в&nbsp;облаке из&nbsp;браузера, быстро скачивайте и&nbsp;загружайте файлы через десктопную версию.</dd>
        <dt class="yourserver__benefitname">Active Directory</dt>
        <dd class="yourserver__benefittext">Интегрируемся с&nbsp;Active Directory&nbsp;&mdash; данные обо всех пользователях синхронизируются автоматически, независимо от&nbsp;величины компании.</dd>
        <dt class="yourserver__benefitname">Для российского рынка</dt>
        <dd class="yourserver__benefittext">Сотрудничаем с&nbsp;программами, которые входят в&nbsp;реестр российского&nbsp;ПО.</dd>
      </dl>
    </div>
  </div>
</section>
