.security {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-l) {
    padding-bottom: 80px;
  }

  &__title {
    max-width: 690px;
    font-size: $font-size-28;
    line-height: $line-height-34;
    font-weight: 700;
    color: $color-black;
    margin-top: 0;
    margin-bottom: 46px;

    @media (min-width: $tablet) {
      font-size: $font-size-32;
      line-height: $line-height-36;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop) {
      font-size: $font-size-26;
      line-height: $line-height-34;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop-l) {
      max-width: 980px;
      font-size: $font-size-36;
      line-height: $line-height-44;
      margin-bottom: 42px;
    }
  }

  &__list {
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: $desktop) {
      margin: 0 -34px;
    }

    @media (min-width: $desktop-l) {
      margin: 0 -60px;
    }
  }

  &__item {
    position: relative;
    margin: 0;
    padding: 28px 20px 175px;
    color: $color-light;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: $color-dark;
    margin-bottom: 25px;

    @media (min-width: $mobile) {
      padding-left: 26px;
      padding-right: 39px;
    }

    @media (min-width: $tablet) {
      width: calc(50% - 8px);
      padding: 28px 26px 134px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      padding: 22px 100px 102px 36px;
      border-radius: 18px;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: 201px 117px;
    }

    @media (min-width: $desktop-l) {
      width: calc(50% - 10px);
      padding: 30px 110px 134px 50px;
      border-radius: 24px;
      background-size: 284px 164px;
    }

    &_bg1 {
      @media (min-width: $desktop) {
        background-image: url($img + '/security-bg1-1020.png');
      }

      @media (min-width: $desktop-l) {
        background-image: url($img + '/security-bg1.png');
      }
    }

    &_bg2 {
      @media (min-width: $desktop) {
        background-image: url($img + '/security-bg2-1020.png');
      }

      @media (min-width: $desktop-l) {
        background-image: url($img + '/security-bg2.png');
      }
    }
  }

  &__name {
    margin-bottom: 24px;
    font-size: $font-size-25;
    line-height: $line-height-29;
    font-weight: 700;
    color: $color-white;

    @media (min-width: $mobile) {
      font-size: $font-size-28;
      line-height: $line-height-32;
    }

    @media (min-width: $tablet) {
      font-size: $font-size-30;
      line-height: $line-height-34;
    }

    @media (min-width: $desktop) {
      margin-bottom: 14px;
      font-size: $font-size-26;
      line-height: $line-height-30;
    }

    @media (min-width: $desktop-l) {
      margin-bottom: 16px;
      font-size: $font-size-36;
      line-height: $line-height-42;
    }
  }

  &__content {
    margin: 0;
    font-size: $font-size-15;
    line-height: $line-height-22;

    @media (min-width: $tablet) {
      font-size: $font-size-18;
      line-height: $line-height-26;
    }

    @media (min-width: $desktop) {
      font-size: $font-size-16;
      line-height: $line-height-22;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-22;
      line-height: $line-height-30;
    }
  }

  &__text {
    margin: 0;
  }

  &__link {
    position: absolute;
    left: 26px;
    bottom: 38px;
    display: inline-block;
    font-weight: 700;
    color: $color-link;
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $color-white;
      }
    }

    @media (max-width: ($desktop - 1)) {
      font-size: $font-size-20;
      line-height: $line-height-30;
    }

    @media (min-width: $desktop) {
      left: 36px;
      bottom: 46px;
    }

    @media (min-width: $desktop-l) {
      left: 50px;
      bottom: 60px;
    }
  }

  &__support {
    margin-top: 60px;
    margin-bottom: 28px;

    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    @media (min-width: $desktop) {
      margin-top: 54px;
    }

    @media (min-width: $desktop-l) {
      margin-bottom: 42px;
      margin-top: 70px;
    }
  }

  &__supporttext {
    font-size: $font-size-24;
    line-height: $line-height-32;
    font-weight: 700;
    color: $color-black;
    margin: 0 0 16px;

    @media (min-width: $tablet) {
      width: 48%;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-36;
      line-height: $line-height-44;
    }
  }

  &__supportnote {
    color: $color-note;
    margin: 0;

    @media (min-width: $tablet) {
      width: 46%;
      margin-top: 7px;
    }

    @media (min-width: $desktop-l) {
      margin-top: 11px;
    }
  }

  &__button {
    width: 100%;
    max-width: 300px;

    @media (min-width: $desktop) {
      width: auto;
      max-width: inherit;
    }
  }
}
