.start {
  @import "../main/variables";
  @import "../main/variables.fonts";
  @import "../main/variables.colors";
  color: $color-light;
  background: $color-dark;
  padding-top: 114px;
  padding-bottom: 70px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 112px;
  }

  @media (min-width: $desktop) {
    padding-top: 160px;
    padding-bottom: 120px;
  }

  @media (min-width: $desktop-l) {
    padding-top: 206px;
    padding-bottom: 136px;
  }

  &__title {
    font-size: $font-size-36;
    line-height: $line-height-44;
    font-weight: 700;
    color: $color-white;
    margin-top: 0;
    margin-bottom: 24px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 16px;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-60;
      line-height: $line-height-68;
      margin-bottom: 26px;
    }
  }

  &__wrap {
    position: relative;

    &:before {
      display: block;
      content: "";
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 375px;
      height: 265px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      background-image: url($img + "/start-bg-375.png");
      background-position: -150px 0;

      @media (min-width: $tablet) {
        width: 768px;
        height: 471px;
        margin-bottom: 11px;
        background-image: url($img + "/start-bg-768.png");
        background-position: right;
      }

      @media (min-width: $desktop) {
        position: absolute;
        top: -123px;
        left: 50%;
        width: 721px;
        height: 471px;
        transform: translateX(-98px);
        background-image: url($img + "/start-bg-1020.png");
        background-position: right;
      }

      @media (min-width: $desktop-l) {
        top: -174px;
        width: 1045px;
        height: 622px;
        transform: translateX(-127px);
        background-image: url($img + "/start-bg.png");
        background-position: -150px;
      }
    }
  }

  &__content {
    max-width: 500px;
    font-size: $font-size-15;
    line-height: $line-height-24;
    text-align: center;
    margin: 0 auto;

    @media (min-width: $desktop) {
      position: relative;
      width: 35%;
      text-align: left;
      margin: 0;
    }

    @media (min-width: $desktop-l) {
      width: 100%;
      max-width: 580px;
      font-size: $font-size-20;
      line-height: $line-height-32;
    }
  }

  &__text {
    @media (min-width: $desktop) {
      margin: 0;
    }

    @media (min-width: $desktop-l) {
      max-width: 79%;
    }
  }

  &__button {
    margin-top: 36px;

    @media (min-width: $desktop) {
      margin-top: 34px;
    }

    @media (min-width: $desktop-l) {
      margin-top: 46px;
    }
  }

  &__buttonlink {
    @media (max-width: ($desktop - 1)) {
      width: 100%;
      max-width: 360px;
    }
  }
}
