.yourserver {
  @import '../main/variables';
  @import '../main/variables.fonts';
  @import '../main/variables.colors';

  padding-bottom: 60px;

  @media (min-width: $desktop-l) {
    padding-bottom: 75px;
  }

  &__title {
    font-weight: 700;
    margin-top: 0;
    font-size: $font-size-36;
    line-height: $line-height-44;
    margin-bottom: 40px;
    color: $color-black;
    max-width: 600px;

    @media (min-width: $tablet) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-l) {
      max-width: inherit;
      font-size: $font-size-60;
      line-height: $line-height-68;
      margin-bottom: 52px;
    }
  }

  &__content {
    margin-top: 60px;

    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop) {
      margin-top: 50px;
    }

    @media (min-width: $desktop-l) {
      margin-top: 65px;
    }
  }

  &__info {
    background: $color-gray;
    padding: 40px 24px 40px 20px;
    margin: 0;
    border-radius: 24px;
    box-sizing: border-box;

    @media (min-width: $tablet) {
      width: 48%;
    }

    @media (min-width: $desktop) {
      padding: 37px;
      border-radius: 18px;
    }

    @media (min-width: $desktop-l) {
      padding: 50px;
      border-radius: 24px;
    }
  }

  &__infoname {
    font-weight: 500;
    margin-top: 0;
    font-size: $font-size-24;
    line-height: $line-height-32;
    margin-bottom: 18px;
    color: $color-black;

    @media (min-width: $desktop) {
      font-size: $font-size-20;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-28;
      line-height: $line-height-36;
      margin-bottom: 24px;
    }
  }

  &__infotext {
    margin-left: 0;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (min-width: $desktop) {
        margin-bottom: 20px;
      }

      @media (min-width: $desktop-l) {
        margin-bottom: 36px;
      }
    }
  }

  &__tech {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: $font-size-18;
    line-height: $line-height-28;
    color: $color-black;

    @media (min-width: $desktop) {
      font-size: $font-size-15;
      line-height: $line-height-26;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-20;
      line-height: $line-height-32;
    }
  }

  &__techitem {
    position: relative;
    padding-left: 25px;

    @media (min-width: $desktop) {
      padding-left: 17px;
    }

    @media (min-width: $desktop-l) {
      padding-left: 23px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $color-black;
      border-radius: 100%;

      @media (min-width: $desktop) {
        width: 6px;
        height: 6px;
        top: 7px;
      }

      @media (min-width: $desktop-l) {
        width: 8px;
        height: 8px;
        top: 11px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 11px;

      @media (min-width: $desktop) {
        margin-bottom: 6px;
      }

      @media (min-width: $desktop-l) {
        margin-bottom: 8px;
      }
    }
  }

  &__tag {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -12px;

    @media (min-width: $desktop) {
      margin-bottom: -10px;
    }

    @media (min-width: $desktop-l) {
      margin-bottom: -12px;
    }

    &:not(:first-child) {
      margin-top: 30px;

      @media (min-width: $desktop) {
        margin-top: 18px;
      }

      @media (min-width: $desktop-l) {
        margin-top: 24px;
      }
    }
  }

  &__tagitem {
    font-weight: 500;
    font-size: $font-size-15;
    line-height: $line-height-24;
    color: $color-tag;
    padding: 8px 26px;
    background: $color-white;
    border-radius: 40px;
    margin-right: 12px;
    margin-bottom: 12px;

    @media (min-width: $desktop) {
      padding: 6px 20px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-20;
      line-height: $line-height-28;
      padding: 8px 26px;
      margin-right: 12px;
      margin-bottom: 12px;
      border-radius: 40px;
    }
  }

  &__benefit {
    margin: 40px 24px 0;

    @media (min-width: $tablet) {
      width: 46%;
      margin: 0;
    }
  }

  &__benefitname {
    font-weight: 500;
    margin-top: 0;
    font-size: $font-size-20;
    line-height: $line-height-32;
    margin-bottom: 16px;
    color: $color-black;

    @media (min-width: $desktop) {
      margin-bottom: 8px;
    }

    @media (min-width: $desktop-l) {
      font-size: $font-size-28;
      line-height: $line-height-36;
      margin-bottom: 10px;
    }
  }

  &__benefittext {
    margin-left: 0;

    &:not(:last-child) {
      margin-bottom: 30px;

      @media (min-width: $tablet) {
        margin-bottom: 40px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 47px;
      }

      @media (min-width: $desktop-l) {
        margin-bottom: 60px;
      }
    }
  }
}
